/*RESPONSIVE ASIDE*/
    @mixin aside-mobile--md {
        .aside {
            max-width: 50px;
            min-width: 50px;
            
            &[data-active="false"] {
                margin-left: -50px;
            }
            
            @include open-options--litle;
        }
    }
    @mixin aside-desktop--md {
        .aside {
            &[data-active="false"] {
                max-width: 50px;
                min-width: 50px;
                
                @include open-options--litle;
            }
            &[data-active="true"] {
                max-width: 230px;
                min-width: 230px;
                overflow: hidden;
                
                .open-options {
                    &:not([data-active="true"]) {
                        .options {
                            display: none;
                        }   
                    }
                    .options {
                        &-name,
                        .arrow {
                            display: none;
                        }
                    }
                    .arrow .fa {
                        transition: transform .2s;
                    }
                    &[data-active="true"] {
                        .arrow .fa {
                           transform: rotate(-90deg);
                        }
                    }
                    &[data-active="false"] {
                        .arrow .fa {
                           transform: rotate(0deg);
                        }
                    }
                }
                .dashboard-item {
                    height: auto;
                    flex-direction: column;
                }
                .dashboard-box {
                    padding-left: 15px;
                }
            }
        }
    }
/* /RESPONSIVE ASIDE*/