//DEFAULT
    @mixin table-mobile($width) {
        .responsive-table {
            &--#{$width} {
                min-width: 100%;
                
                .th:not(.th-nohidden) {
                   display: none; 
                }
                .tr {
                    overflow: hidden;
                    display: block;
                    border-top: 1px solid #e8e8e8;
                }
                .tbody .tr {
                    padding-top: 10px;
                }
                .tbody .tr:last-of-type {
                    border-bottom: 1px solid #e8e8e8;
                }
                .td,
                .th-nohidden {
                    display: flex;
                    justify-content: flex-end;
                    text-align: right;
                    
                    &:before { 
                        content: attr(data-th); 
                        display: flex;
                        flex: 1;
                        color: gray;
                        margin-right: 10px;
                        font-size: 18px;
                    }
                }
                .th-nohidden {
                    background: #e8e8e8;
                    font-weight: bolder;
                }
            }
        }
    }
// /DEFAULT