/*RESPONSIVE HEADER*/
    @mixin header-mobile--md {
        .header {
            .menu-user {
                .user-legend {
                    display: none;
                }
                .user-icon {
                    flex-basis: 0;   
                }
            }
        }
    }
    @mixin header-desktop--md {
        .header {
            .admin-cp[data-active="true"] {
                max-width: 180px;
            }
            .admin-cp[data-active="false"] {
                max-width: 50px;
                
                .admin-cp__text {
                    display: none;
                }
            }
        }
    }
/* /RESPONSIVE HEADER*/