#main-nav {
    padding: 0;
    .top-line {
        width: 100%;
        background: $color-2-darker;
        padding: 5px 0;
        .whats {
            @include fontset(center, $font-montserrat, 12px, 400, initial, $white);
            position: relative;
            padding-left: 30px;
            &:hover {                
                opacity: 0.8;
                transition: 0.3s;
            }
            .spriting {
                position: absolute;
                @include absolute-center(y);
                left: 0;
            }
        }
        .form-login {
            display: flex;
            align-items: center;
            .wrap-input {
                position: relative;
                .spriting {
                   left: 3px;
                }
                input {
                    border: none;
                    border-radius: 4px;
                    height: 15px;
                    padding: 5px 20px;
                    width: 100px;
                    height: 25px;
                    outline: none;
                    @include fontset(left, $font-montserrat, 11px, 300, initial, $color-1);
                }
                  ::-webkit-input-placeholder { 
                    color: $color-1;
                    font-family: $font-ccgoose;
                  }
                  ::-moz-placeholder { 
                    color: $color-1;
                    font-family: $font-ccgoose;
                  }
                  :-ms-input-placeholder {
                    color: $color-1;
                    font-family: $font-ccgoose;
                  }
                  :-moz-placeholder { 
                    color: $color-1;
                    font-family: $font-ccgoose;
                  }
                  &:first-child {
                    margin-right: 5px;
                  }
            }
            button {
                border-radius: 4px;
                @include fontset(left, $font-ccgoose, 11px, 300, initial, $white);
                border: none;
                height: 25px;
                margin-left: 5px;
                padding: 0 1rem;
                background: $color-2;
                cursor: pointer;
                &:hover {
                    background: $color-1;
                    transition: 0.3s;
                }
            }
            .pwd-forget {
                @include fontset(left, $font-montserrat, 11px, 400, initial, $white);
                margin-bottom: 0;
                flex-shrink: 0;
                margin-left: 10px;
                &:hover {
                    text-decoration: underline;
                    transition: 0.3s;
                }
            }
        }
        .justify-content-between.consultor-menu {
            //justify-content: flex-end;
            .tiny-menu {
                bottom: -44px;
            }
        }
        .total-minutes {
            display: flex;
            align-items: center;
            h6 {
                @include fontset(center, $font-ccgoose, 11px, 300, initial, $white);
                margin-bottom: 0;
            }
            .total {
                margin-left: 10px;
                @include fontset(center, $font-montserrat, 15px, 600, initial, $white);
            }
            .btn {
                background: $color-1;
                border-radius: 4px;
                display: inline-block;
                @include fontset(center, $font-ccgoose, 11px, 300, initial, $white);
                padding: 0.3em 0.5em;
                margin-left: 5px;
            }
            @include media($sm, 'max') {
                flex-wrap: wrap;
                .btn {
                    display: none;
                }                
            }
        }
        .box-user {
            position: relative;
            display: flex;
            align-items: center;
            .name {
                @include fontset(center, $font-ccgoose, 11px, 300, initial, $white);
                margin-right: 10px;
            }
            .login-menu {
                display: inline-flex;
                width: 30px;
                align-items: center;
                justify-content: center;  
                height: 25px;            
                cursor: pointer;
                &.active {
                    background: $color-1;
                }
                &:hover {
                    transition: 0.3s;
                    background: $color-1;
                }
            }
            .tiny-menu {
                background: $color-1;
                position: absolute;
                bottom: -92px;
                height: auto;
                z-index: 10;
                padding: 10px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px; 
                right: 0;
                display: none;                
                li {
                    form {
                        display: inline;
                    }
                    &:before {
                        content: "\f105";
                        font-family: FontAwesome;
                        color: $color-2;
                        margin-right: 10px;
                    }
                    a {                   
                       @include fontset(left, $font-ccgoose, 11px, 300, initial, $white);
                       &:hover {
                           color: $color-2;
                       }
                    }
                }
            }
            @include media($sm, 'max') {
                .tiny-menu {
                    width: 100%;
                }
            }
        }
        .register-link {
            position: relative;
            background: $color-1;
            border-radius: 4px;
            display: inline-block;
            @include fontset(center, $font-ccgoose, 11px, 300, initial, $white);
            padding: 0.5em 0.7em 0.4em 28px;
            .spriting {
                left: 5px;
            }
            &:hover {
                transition: 0.3s;
                background: $color-2;
            }
        }
    }

    .main-part {
        background: $color-2;
        padding: 0;
        .logo-box {
            position: relative;
            .logo-mobile {
                display: none;
            }
            .logo {
                position: absolute;
                z-index: 1000;
                top: -37px;
                left: 15px;
                right: 15px;
            }
        }
        .navbar-collapse {
            margin: 18px 0;
            .navbar-nav {
                width: 100%;
                justify-content: space-between;
                align-items: center;
                .nav-item {
                    .nav-link {
                        border-radius: 20px;
                        padding: 0.5rem 1rem;
                        @include fontset(center, $font-ccgoose, 16px, 300, initial, $white);
                        &:hover {
                            transition: 0.3s;
                            background: $color-1;
                            box-shadow: 0px 7px 7px 1px rgba(117,0,212,0.30);
                        }
                    }
                }
            }
        }
    }
    // THIS = #main-nav
    @include media($md, 'max') {
        .top-line {
            .whats {
                display: none;
            }
        }
        .main-part {
            .navbar-collapse {
                margin: 5px 0;
            }
        }
    }
    @include media($sm, 'max') {
        .top-line {
            .form-login {
                flex-wrap: wrap;
                align-items: flex-end;
                .wrap-input {
                    flex-basis: 40%;
                    input {
                        width: 100%;
                    }
                }
                button {
                    flex-grow: 1;
                    margin-left: 5px;
                    text-align: center;
                }                
            }
            .pwd-forget,
            .register-link {
                display: none;
            }
        }
        .main-part {
            background: lighten($color-2-darker, 5%);         
            padding: 20px 0 0;
            & > .container {
                padding-right: 15px;
                padding-left: 15px;
            }
            .logo-box {
                display: flex;
                justify-content: space-between;         
                padding: 0 30px;  
                .logo {
                    display: none;
                }              
                .logo-mobile {
                    display: block; 
                    position: static;
                    width: 200px;
                    display: block;
                }
            }
            .navbar-collapse {
                background: $color-1;
                margin: 0;

                .navbar-nav {
                    margin-bottom: 15px;
                    .nav-item {
                        &:not(:last-child) { border-bottom: 1px solid $white; }
                        width: 100%;
                        .nav-link {
                            display: block;
                        }
                    }
                }
            }
        }
        //
        .navbar-toggler {
            border-radius: 50%;
            height: 60px;
            width: 60px;
            border: 1px solid $white;
            background: $color-1;
            margin-top: 12px;
            .navbar-toggler-icon {
                background: url('../images/menu.png') no-repeat;
                width: 32px;
                height: 32px;
                background-size: contain;
                background-position: center;
            }
        }
    }
}

.btn-default {
    display: inline-flex;
    border-radius: 25px;
    background: $color-1;
    @include fontset(center, $font-ccgoose, 16px, 300, initial, $white);
    padding: 1rem 2rem;
    overflow: hidden;
    position: relative;
    .wrap { z-index: 10; margin: 0 auto;}
    &:before {
        content: '';
        position: absolute;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        background: $color-3;
        left: -100%;
        z-index: 0;
        top: 0;
    }
    &:hover {
        transition: 0.3s;        
        color: $color-1;
        &:before {
            left: 0;
        }
    }
    @include media($sm, 'max') {
        width: 100%;
    }
}

.h2-title {
    @include fontset(center, $font-ccgoose, 2em, 300, initial, $black);
    @include media($sm, 'max') {
        br { display: none; }
    }
    &.center-sprite {
        .spriting {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
        }
    }
}
.shares-list {
    margin-top: 0%;
    text-align: left;
    ul {                
        li {
            display: inline-block;
            position: relative;
            margin-right: 8px;
            a {
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: $color-1;
                color: $white;
                .fa {
                    @include absolute-center();
                }
                &:hover {
                    transition: 0.3s;
                    background: $color-2;
                }
            }
        }
    }
}
#main-footer {
    &.bd > .container {
        padding-top: 5%;
        border-top: 1px solid $gray;
    }
    .top-box {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow: 0px 30px 70px -21px rgba(0,0,0,0.1);
        padding: 0 3% 5% 3%;
        .title {
            @include fontset(left, $font-ccgoose, 18px, 300, initial, $black);
            margin-bottom: 30px;
        }
        .fast-access-list {
            li {
                margin-bottom: 5px;
                &:before {
                    content: '•';
                    color: lighten($color-1, 30%);
                    margin-right: 5px;
                }
                a {
                    @include fontset(left, $font-montserrat, 15px, 300, initial, $color-1);
                }
                &:hover {
                    &:before, a {
                        color: $color-2-darker;
                    }
                }
            }
        }
        //
       
        .btn-whatsapp {
            margin-top: 35px;
            display: inline-flex;
            background: $green;
            color: $white;
            @include fontset(center, $font-montserrat, 16px, 600, initial, $white);    
            padding: 0.8rem 2rem;
            border-radius: 30px;      
            align-items: center;
            box-shadow: $green-shadow;
            .spriting {
                margin-right: 5px;
            }
            &:hover {
                transition: 0.3s;
                background: darken($green, 5%);
            }
        }
    }
    .bottom-box {
        background: url('../images/bg-footer-1.png'), url('../images/bg-footer-2.png');
        background-position: -60px 85px, 108% -10px;
        background-repeat: no-repeat, no-repeat;
        padding: 50px 0 80px 0;
        @include media($sm, 'max') {
            padding: 30px 0;
        }
        .container {
            display: flex;
            flex-flow: row;
            justify-content: space-between;                     
            div {
                @include fontset(left, $font-ccgoose, 12px, 300, initial, $color-1);   
                a {
                    color: $color-2;
                } 
            }
        }
    }
    @include media($md, 'max') {
        .bottom-box {
            background: url(../images/bg-footer-1.png) -230px 85px no-repeat,url(../images/bg-footer-2.png) 108% 15px no-repeat;
        }
        .btn-whatsapp {
            padding: 0.8rem!important;
        }
    }
    @include media($md, 'max') {
        .top-box {
            .title {
                margin-bottom: 15px;                
            }
            .row > .col-md-4 {
                margin-bottom: 15px;
            }
            .shares-list {
                text-align: center;
            }
            .btn-whatsapp {
                margin-top: 15px;
                width: 100%;
                text-align: center;
                justify-content: center;
            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
        .bottom-box {
            background: none;
            .container {
                flex-flow: row wrap;
                div {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

#breadcrumb {
    min-height: 210px;
    background: url('../images/bg-header2.png');
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    padding: 15px 0 70px 0;
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: cover;
    margin-bottom: 2%;
    text-align: center;
    h1 {
        @include fontset(center, $font-ccgoose, 2.5em, 300, initial, $white);
        margin-bottom: 1%;
        margin-top: 5%;
    }
    ul {
        display: inline-block;
        li, li a {
            display: inline-block;
            @include fontset(center, $font-ccgoose, 12px, 300, initial, $color-2);
            &:hover {
                color: $color-2-darker;
            }
        }
        li {
            margin-right: 10px;
             a > .number {
                @include fontset(center, $font-montserrat, 12px, 300, initial, $color-2);
            }
            &:not(:last-child){
                &:after {
                    content: "\f105";
                    font-family: FontAwesome;
                    color: $color-2;
                    margin-left: 10px;
                }
            }
        }
    }
    &:before {
        content: '';
        bottom: -25px;
        display: block;
        height: 70px;
        background: $white;
        width: 115%;
        //z-index: 1;     
        border-radius: 50%;
        @include absolute-center(x);
    }
    @include media($sm, 'max') {
        min-height: 100px;
        padding: 15px 0 30px;
        &:before {            
            height: 35px;
        }
    }
}

#paginator {
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        li {
            &:not(:last-child) {
                margin-right: 15px;
            }
            &.prev, &.next, & > a {
                @include fontset(center, $font-montserrat, 12px, 400, uppercase, $color-1);
            }
            &.prev:hover a, &.next:hover a{
                color: $color-2;
                transition: 0.3s;
            }
            &.prev {
                &:before {
                    content: "\f104";
                    font-family: FontAwesome;
                    color: $color-2;
                    font-size: 15px;
                    margin-right: 5px;
                }
                &.disabled {
                    a { pointer-events: none; }
                    &:before {
                        color: darken($gray, 10%);
                        
                    }
                }
            }
            &.next {
                &:after {
                    content: "\f101";
                    font-family: FontAwesome;
                    color: $color-2;
                    font-size: 15px;
                    margin-left: 5px;
                }
                &.disabled {
                    a { pointer-events: none; }
                    &:after {
                        color: darken($gray, 10%);
                        
                    }
                }
            }
            &.active a {
                background: $color-2;
                color: $white;
                transition: 0.3s;
            }
            &:not(.prev):not(.next) > a {
                padding: 5px 9px;
                border-radius: 5px;
                font-size: 16px;
                &:hover {
                    background: $color-2;
                    color: $white;
                    transition: 0.3s;
                }
            }
        }
    }
}

.br-theme-fontawesome-stars .br-widget a.br-active:after, 
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: $color-1;
}

.br-theme-fontawesome-stars-o .br-widget a {
    &:nth-child(2n+2) {
      display: none !important;
    }
  }

.ui-datepicker-prev span {
    background-image: url('../images/sprites.png') !important;
    background-position: -456px -257px!important;
}

.ui-datepicker-next span {
    background-image: url('../images/sprites.png') !important;
    background-position: -486px -257px!important
}
//some colors
.color-green {
    color: $green!important;
}

.bg-white {
    background: $white;
}

.bg-gray {
    background: $gray;
}
.wrap-60 {
    width: 60%;
}
.is-sm {
    display: none;
}
@include media($sm, 'max') {
    .is-sm {
        display: block;
    }
}
@include media($xs, 'max') {
    .wrap-60 {
        width: 100%;
    }
    .wrap-xs {
        flex-wrap: wrap!important;
    }
}

.alert {
    p {
        margin-bottom: 0;
    }
}