.spriting {
    display: inline-block;
    background: url('../images/sprites.png');
    background-repeat: no-repeat;  
    &.centerY {
        @include absolute-center(y);
    }
}

.sprite {
    &-timing-left {
        background-position: -252px -468px; 
        width: 60px;
        height: 60px;
    }
    &-timing-spent {
        background-position: -387px -468px; 
        width: 60px;
        height: 60px;
    }
    &-timing-revenue {
        background-position: -320px -468px; 
        width: 60px;
        height: 60px;
    }
    &-menu {
        background-position: -179px -64px;
        width: 20px;
        height: 20px;
    }
    &-long-arrow-left {
        background-position: -316px -306px; 
        width: 43px;
        height: 54px;
    }
    &-long-arrow-right {
        background-position: -364px -306px; 
        width: 43px;
        height: 54px;
    }
    &-clock {
        background-position: -97px -43px; 
        width: 29px;
        height: 22px;
    }
    &-clock-rounded {
        background-position: -62px -463px; 
        width: 60px;
        height: 62px;
    }
    &-coin-rounded {
        background-position: -143px -463px; 
        width: 60px;
        height: 62px;
    }
    &-whats {
        width: 20px;
        height: 20px;
        background-position: -12px -8px;
    }
    &-user1 {
        width: 10px;
        height: 10px;
        background-position: -45px -10px
    }
    &-key1 {
        width: 10px;
        height: 14px;
        background-position: -70px -9px
    }
    &-user {
        width: 17px;
        height: 20px;
        background-position: -95px -6px
    }
    &-hand-coin {
        width: 36px;
        height: 36px;
        background-position: -128px -1px;
    }
    &-arrow-down {
        width: 20px;
        height: 25px;
        background-position: -177px -5px;
    }
    &-arrow-right {
        width: 20px;
        height: 16px;
        background-position: -179px -42px;
    }
    &-hanger {
        width: 33px;
        height: 33px;
        background-position: -214px -3px
    }
    &-hanger2 {
        width: 33px;
        height: 33px;
        background-position: -214px -49px;
    }
    &-eye {
        width: 38px;
        height: 33px;
        background-position: -269px -4px;
    }
    &-chat-on {
        width: 23px;
        height: 23px;
        background-position: -12px -43px
    }
    &-chat-off {
        width: 24px;
        height: 24px;
        background-position: -47px -42px;
    }
    &-step-one {
        width: 120px;
        height: 120px;
        background-position: -16px -164px;
    }
    &-step-two {
        width: 120px;
        height: 120px;
        background-position: -142px -164px;
    }
    &-step-three {
        width: 120px;
        height: 120px;
        background-position: -274px -164px;
    }
    //painel consultor
    &-nav-dashboard {
        width: 36px;
        height: 36px;
        background-position: -461px -12px;
    }
    &-nav-atendimento {
        width: 36px;
        height: 36px;
        background-position: -461px -54px;
    }
    &-nav-credito {
        width: 36px;
        height: 36px;
        background-position: -457px -98px;
    }
    &-nav-conta {
        width: 36px;
        height: 36px;
        background-position: -458px -144px;
    }
    &-timeglass {
        width: 36px;
        height: 39px;
        background-position: -458px -201px;
    }
} 