//Fonts
$font-ccgoose: COCOGOOSE;
$font-montserrat: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-nunito: 'Nunito', sans-serif;

//Colors
$color-1: #7400d4;
$color-2: #e001f8;
$color-2-darker: #bd00d1;
$color-3: #00f0ff;
$green: #00cb94;
$red: #ce3d5c;
$orange: #f89801;

$green-shadow: 0px 5px 8px 2px rgba(0,203,148,0.14);
$color-1-shadow: 0px 5px 8px 2px rgba(224,1,248,0.14);
$black-shadow: 0px 8px 15px 2px rgba(0,0,0,0.1);

$black: #272933;
$black-panel-1: #131a1d;
$black-panel-2: #222d32;

$white: #ffffff;
$gray: #e9e8e8;
$gray2: #d6dfd6;
$gray3: #9b9c9f;

//Breakpoints
$lg: 1200px;
$md: 992px;
$sm: 767px;
$xs: 685px;
