#buy-minutes {
    background: url('../images/bg-especialistas.png');
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-position-x: center;
    background-size: cover;
    padding: 5% 0;
    .container {
        background: $white;
        box-shadow: 1px 0px 2px 1px rgba(0,0,0,.1);
        border-radius: 10px;
        padding: 4%;
        @include media($sm, 'max') {
            padding: 15px;
        }
        .title-box {
            .icon {         
                @extend .spriting;   
                @extend .vertical-translate;           
                width: 80px;
                display: block;
                margin: 0 auto;
                height: 80px;      
                &.car {
                    background-position: -51px -295px;
                }
                &.coin {
                    background-position: -51px -373px;
                }
            }
            p {
                margin-top: 20px;
                @include fontset(center, $font-ccgoose, 1em, 300, initial, $black);
                span {
                    color: $color-2;
                    font-weight: 400;
                }
            }
        }
    }
}

.buy-time-block {
    margin-top: 5%;
    .row > [class^='col-'] {
        margin-bottom: 15px;
    }
    .wrap-content {
        background: #f0f1f5;
        border-radius: 5px;
        height: 100%;
        padding: 5%;
       
        &.price {
            text-align: center;
            padding: 30px;
            .spriting {
                margin-bottom: 15px;
            }
            .text {
                h6 {
                    @include fontset(center, $font-ccgoose, 12px, 400, uppercase, $black);
                    margin-bottom: 0;
                }
                .price {
                    display: block;
                    @include fontset(center, $font-montserrat, 2em, 700, uppercase, $color-2);
                }
            }
        }
        //component
        .select-quantity-comp {     
            .header {
                background: $color-1;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;    
                display: flex;
                justify-content: center;
                align-items: center;     
                padding: 0.8em;      
                span {
                    margin-right: 5px;
                }
                h6 {
                    @include fontset(center, $font-montserrat, 12px, 700, uppercase, $white);
                    margin-bottom: 0;
                }                
            }
            .body {
                background: $white;
                padding: 2em 3em;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                .chooser {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    label {
                        margin-bottom: 0;
                        margin-right: 10px;
                        @include fontset(left, $font-montserrat, 12px, 600, initial, $black);
                    }
                    .wrap-input {
                        position: relative;
                        input {
                            outline: none;
                            border-radius: 30px;
                            border: 1px solid $gray2;
                            height: 50px;
                            padding: 0 50px 0 15px;
                            @include fontset(left, $font-montserrat, 14px, 400, initial, $black);
                        }
                        .selector {
                            position: absolute;
                            height: 50px;
                            width: 60px;
                            top: 0;
                            display: flex;
                            flex-flow: column;
                            justify-content: center;
                            align-items: center;
                            right: 0;
                            background: $color-1;
                            border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                            .increment, .decrement {
                                @extend .spriting;
                                width: 12px;
                                height: 12px;           
                                cursor: pointer;
                                &:hover {
                                    opacity: 0.8;
                                }                      
                            }
                            .increment {
                                background-position: -85px -39px;
                                margin-bottom: 5px;
                            }
                            .decrement {                                
                                background-position: -85px -52px;
                            }
                        }
                    }                    
                }
            }
        }
    }
    .btn-box {
        margin: 4%;
        text-align: center;
        button {
           margin: 0 15px;
           cursor: pointer;
           border-radius: 30px;
           background: $color-2;        
           @include fontset(center, $font-montserrat, 18px, 600, initial, $white);
           border: none;
           padding: 1em;
           display: inline-block;
           box-shadow: $black-shadow;
           .fa {
               margin-right: 10px;
           }
           &:hover {
               background: $color-1;
               transition: 0.3s;
           }
        }
        @include media($sm, 'max') {
            button {
                font-size: 1em;
            }
            .spriting {
                display: none;
            }
        }
    }
    .block-adverter {
        img {
            display: block;
            margin: 10px auto;
        }
        p {
            @include fontset(center, $font-montserrat, 12px, 300, initial, $black);
        }
    }
}

