#contact {
    background: url('../images/bg-especialistas.png');
    background-repeat: no-repeat;
    background-position-y: 60%;
    background-position-x: center;
    background-size: cover;
    padding: 5% 0;
    .container {
        background: $white;
        border-bottom: 1px solid $gray2;
        border-left: 1px solid $gray2;
        border-right: 1px solid $gray2;
        border-radius: 10px;
        padding: 4%;

        h2 {
            @include fontset(left, $font-ccgoose, 2em, 400, uppercase, $black);
            & + p {
                @include fontset(left, $font-montserrat, 16px, 300, initial, $black);
            }
        }

        form {
            margin-top: 3%;
            ::placeholder {
                color: $gray3;
            }
            .form-group {
                label {
                    font-weight: 300;
                    &:before {
                        content: '•';
                        color: $gray3;
                        margin-right: 10px;
                        font-size: 15px;
                        font-family: arial;
                    }
                }
                .form-control {
                    font-family: $font-nunito;
                    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.1);
                }
            }
            [type=submit] {
                background: $color-1;
                padding: .9em 3em .9em 2em;
                margin-top: 3%;
                font-weight: 300;
                position: relative;
                .spriting {
                    right: 20px;
                }
                &:hover {
                    background: darken($color-1, 10%);
                }
            }
        }
        .wrap-buttons {
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            
            .btn {
                display: inline-flex;
                justify-content: space-evenly;
                border-radius: 30px;
                padding: 0.7em;
                &:first-child {
                    margin-bottom: 10%;
                }
                .icon {
                    @extend .spriting;
                    width: 50px;
                    height: 50px;   
                }
                .text {
                    @include fontset(left, $font-ccgoose, 18px, 400, uppercase, $white);
                    span {
                        font-weight: 300;
                        display: block;
                        font-size: 12px;
                    }
                }
                &.btn-whats {
                    background: $color-2;
                    &:hover {
                        background: darken($color-2, 10%);
                    }
                    .icon {
                        background-position: -323px 0px;
                    }
                }
                &.btn-email {
                    background: $color-1;
                    &:hover {
                        background: darken($color-1, 10%);
                    }
                    .icon {
                        background-position: -379px 0px;
                    }
                }
                @include media($sm, 'max') {
                    &:first-child {
                        margin-bottom: 0px;
                    }
                    margin-top: 15px;
                    justify-content: center;
                }
            }
        }
    }
}