#main-header {
    min-height: 700px;
    background: url('../images/bg-header2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 66%;    
    background-attachment: fixed;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    h2 {
        margin: 10% 0 1% 0;
        @include fontset(center, $font-ccgoose, 2em, 300, initial, $color-3);
    }
    h1 {
        @include fontset(center, $font-ccgoose, 3em, 400, initial, $white);
        margin-bottom: 2%;
    }
    h3 {
        @include fontset(center, $font-montserrat, 20px, 300, uppercase, $color-3);
    }
    .btn-wrap {
        margin: 5% 0;
        text-align: center;
        .btn-default {
            box-shadow: 0px 7px 7px 1px rgba(117,0,212,0.30);
            .wrap {
                display: flex;
                align-items: center;
                .spriting {
                    flex-shrink: 0;
                    margin-right: 10px;
                }
            }
            &:hover {                
                .wrap {
                    .sprite-hand-coin {
                        transition: 0.2s;   
                        background-position: -128px -37px;
                    }
                }
            }
        }
    }
    #go-down {    
        background-color: $color-1;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include flex-align();
        @include absolute-center(x);
        bottom: 50px;
        //z-index: 0;
        cursor: pointer;
        @extend .wobble-vertical-infinite;
    }
    &:before {
        content: '';
        bottom: -25px;
        display: block;
        height: 90px;
        background: $white;
        width: 115%;
        //z-index: 1;     
        border-radius: 50%;
        @include absolute-center(x);
    }
    @extend .bg-pulse;
    @include media($md, 'max') {
        animation-iteration-count: 0;
        min-height: 550px;
    }
    @include media($sm, 'max') {
        &:before {
            bottom: -65px;
        }
        min-height: auto;
        padding-bottom: 80px;
        h2 {
            font-size: 1.5em;
            margin-bottom: 15px;
        }
        h1 {
            font-size: 2em;
            br {
                display: none;
            }
        }
        #go-down {
            animation-iteration-count: 0;
            bottom: 5px;
        }
    }
}

#how-it-works {
    background: url('../images/bg-funcionamento.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    position: relative;
    min-height: 800px;
    background-attachment: fixed;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    &:before {
        content: '';
        top: -25px;
        display: block;
        height: 65px;
        background: $white;
        width: 115%;         
        border-radius: 50%;
        @include absolute-center(x);
    }
    .h2-title {
        color: $white;
        margin-top: 10%;
    }
    .step-list {
        margin-top: 7%;
        .step {
            &:nth-child(1) .number {
                @extend .sprite-step-one;
            }
            &:nth-child(2) .number {
                @extend .sprite-step-two;
            }
            &:nth-child(3) .number {
                @extend .sprite-step-three;
            }
            margin-bottom: 15px;
            .wrapper {
                display: flex;
                .number {
                    flex-shrink: 0;
                    @extend .spriting;
                    @include flex-align();   
                    & > span {
                        @include fontset(center, $font-poppins, 35px, 600, uppercase, $white);
                    }             
                }                
                .content {
                    h3 {
                        @include fontset(left, $font-ccgoose, 18px, 300, initial, $white);
                        margin-top: 40px;
                    }
                    p {
                        @include fontset(left, $font-montserrat, 12px, 300, initial, $white);
                    }
                }
            }
        }
    }
    @include media($md, 'max') {
        min-height: 1000px;
        .step-list {
            .step {
                .wrapper {
                    .content {
                        h3 {
                            margin-top: 0;
                        }
                    }
                }
            }
        }       
    }  
    @include media($sm, 'max') {
        min-height: auto;
        .h2-title {
            margin-top: 60px;
        }
    }
}

#why-box {
    margin-top: -100px;
    position: relative;
    margin-bottom: 15%;
    .content {
        background-color: $color-1;
        background-image: url('../images/bg-why.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 55%;
        padding: 8% 10%;
        border-top-left-radius: 130px;
        border-bottom-left-radius: 130px;
        position: relative;
        h2 {
            @include fontset(left, $font-ccgoose, 2em, 400, initial, $white);
            margin-bottom: 15px;
            span {
                display: block;
                font-weight: 300;
                font-size: 0.8em;
            }
        }
        p {
            @include fontset(left, $font-montserrat, 16px, 300, initial, $white);
        }
        &:after {
            content: '';
            display: block;
            width: 290px;
            height: 290px;
            background: url('../images/tarot-2.png') no-repeat;
            background-size: contain;
            position: absolute;
            right: 15px;
            bottom: -160px;
        }
    }
    &:before {
        content: '';
        background: url('../images/tarot-1.png');
        background-repeat: no-repeat;
        display: block;
        width: 700px;
        height: 700px;
        background-size: contain;
        position: absolute;
        left: 0;
        top: -150px;
        z-index: 0;
    }
    @include media($md, 'max') {
        margin-top: -300px;
        margin-bottom: 5%;
        &:before {
            display: none;
        }
        .content {
            border-bottom-left-radius: 20px;
            &:after {
                right: initial;
                bottom: initial;
                left: -200px;
                top: -60px;
            }
        }
    }
    @include media($sm, 'max') {
        margin-top: -15px;
        .content {
            border-radius: 0;
            &:after {
                display: none;
            }
        }
    }
}