/*BREADCRUMB*/
    .breadcrumb {
        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            margin-left: 10px;
            
            > .fa {
                margin-right: 5px;
            }
            &:any-link {
                color: $first-color;
            }
            &.active {
                color: gray;
            }
        }
        &-text {
            .fa {
                margin-left: 5px;
            }
        }
    }
/* /BREADCRUMB*/