/*CONFIG*/
    $alert: true;
    $animation: true;
    $background: true;
    $button: true;
    $form: true;
    $grid: true;
    $img: true;
    $link: true;
    $margin: true;
    $notify: true;
    $padding: true;
    $reset: true;
    $responsive: true;
    $shadow: true;
    $text: true;
/* /CONFIG*/