/*LINKS*/
    @mixin module-link {
        .link,
        [class*="link--"] {
            position: relative;
            text-decoration: none;
            word-break: break-all;
            
            &:hover:before,
            &.active:before,
            &[data-active="true"]:before {
                width: 100%;
            }
            &:before {
                content: "";
                position: absolute;
                height: 2px;
                bottom: 0;
                left: 0;
                overflow: hidden;
                width: 0;
                transition: width .2s ease-in;
            }
        }
        
        .link {
            color: #000;
                        
            &:before {
                background: #000;
            }
            
            &--white {
                color: white;
                    
                &:before {
                    background: white;
                }
            }  
            
            @each $type in $type-status {
                &--#{$type} {
                    color: nth($color-status, index($type-status, $type));
                    
                    &:before {
                        background: nth($color-status, index($type-status, $type));
                    }
                }
            }
        }
    }
/* /LINKS*/