/*RESPONSIVE*/
    @mixin module-responsive {
        @each $tag in $tag-responsive {
            @media (max-width:nth($width-responsive, index($tag-responsive, $tag))) {
                .col, [class*="col-"] {
                    &[class*="is-#{$tag}"] {
                        flex: 1 1 100%;
                        max-width: 100%;
                        min-width: 100%;
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
            }
        }
    }
/* /RESPONSIVE*/