//GRID
    $wrapper: 1170; //MAX-WIDTH WRAPPER
    $grid-columns: 12; //NUMBER OF COLUMNS
    $tag-responsive: "xs" "sm" "md" "lg" "xl"; //TAGS FOR RESPONSIVE
    $width-responsive: 368px 568px 768px 1024px 1280px; //WIDTH FOR RESPONSIVE

//COLORS
    $gray-color: #6a6a6a;
    $default-color: gray;
    // $first-color: #a82e2f;
    $first-color: #7400d4;
    // $second-color: #0269bc;
    $second-color: #e83e8c;
    $third-color: #71a32f;
    $danger-color: #c31c00;
    $info-color: #008ac3;
    $success-color: #29c300;
    $warning-color: #c3a500;

//CONFIG
    $type-status: "default" "first" "second" "third" "danger" "info" "success" "warning";
    $color-status: $default-color $first-color $second-color $third-color $danger-color $info-color $success-color $warning-color;




