//global things for consultant panel

#consultor-header {
    background: $black-panel-1;
    display: block;
    width: 100%;
    height: 150px;
    .wrap-content {
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        .logo-box {
            padding-left: 15px;
            width: 280px;
            @include flex-align(flex-start, center);  
        }
        .user-box {
            padding-right: 0;
            display: flex;
            flex-flow: column nowrap;
            // justify-content: space-between;
            .user-info {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                align-items: center;                        
                .name {
                    @include fontset(left, $font-ccgoose, 14px, 300, initial, $white);
                    margin-bottom: 0;
                    margin-right: 25px;
                }
                .user-photo {
                    border-left: 1px solid $black-panel-2;
                    padding: 25px 15px 15px 30px;      
                    .img-frame {
                        overflow: hidden;
                        margin-bottom: 0;
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .breadcrumb-wrapper {
                border-top: 1px solid $black-panel-2;
                border-left: 1px solid $black-panel-2;
                padding: 10px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                .link {
                    a {
                        @include fontset(left, $font-montserrat, 12px, 300, initial, $white);
                        &:hover {
                            transition: 0.3s;
                            color: $color-2-darker;
                        }
                        &:before {
                            content: "\f104";
                            font-family: FontAwesome;
                            margin-right: 10px;
                            transform: translateY(-1px);
                            display: inline-block;
                        }
                    }
                }
                .breadcrumb-list {
                    margin-left: 25px;
                    li {
                        @include fontset(left, $font-montserrat, 12px, 300, initial, $white);
                        display: inline-block;
                        margin-right: 10px;
                        &:not(:last-child) {
                            &:after{
                                content: "\f105";
                                font-family: FontAwesome;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    @include media($xs, 'max') {
        height: auto;
        &.clean {
            .wrap-content {
                .logo-box {
                    display: block;
                    padding: 10px;
                }
            }
        }
        .wrap-content {
            .logo-box {
                display: none;
            }
            .user-box {
                .breadcrumb-wrapper {
                    flex-wrap: nowrap;
                    .breadcrumb-list {
                        width: 100%;
                        margin-left: 0;
                    }
                    .link {
                        a {
                            display: inline-flex;
                            //background: $white;
                            border-radius: 5px;
                            padding: 0;
                            //color: $black;
                        }
                    }
                }
            }
        }
    }
}

#main-panel-wrap {
    background: $gray;
    min-height: calc(100vh - 150px);
    display: flex;
    flex-flow: row wrap;
    position: relative;
    #aside-nav {
        background: $black-panel-1;
        overflow: hidden;
        width: 0;
        min-height: calc(100vh - 150px);
        overflow-y: auto;
        transition: 0.3s;
        z-index: 100;
        &::-webkit-scrollbar {
            width: 5px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px $black-panel-2; 
            border-radius: 5px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $color-1; 
            border-radius: 8px;
        }        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $color-1; 
        }
        &.active {
            width: 281px;
        }
        .icon-list {
            position: absolute;
            top: 20px;
            left: 0;
            z-index: 100;
            li {
                margin-bottom: 35px;
                cursor: pointer;
                .wrap {
                    box-shadow: 1px 2px 15px 2px rgba(0,0,0,0.1);
                    border: 1px solid #cecdcd;
                    background: $white;
                    border-top-right-radius: 30px;
                    border-bottom-right-radius: 30px;
                    height: 60px;
                    width: 60px;
                    padding: 10px;                    
                    @include flex-align();
                }
                &:hover {                   
                    .wrap {
                        transition: 0.3s;
                        width: 70px;
                    }
                }
            }
        }
        //aside nav 
        .nav-list {
            display: flex;
            flex-flow: column wrap;
            li {
                display: block;
                margin-bottom: 1px;
                .wrap-item {
                    background: $black-panel-2;
                    padding: 25px 15px 15px 100px;                    
                    h5 {
                        @include fontset(left, $font-montserrat, 15px, 600, initial, $white);
                    }
                    ul {
                        li {                      
                            position: relative;
                            padding-left: 15px;
                            margin-bottom: 5px;
                            &:before {
                                content: "\f105";
                                font-family: FontAwesome;
                                color: $white;                            
                                left: 0;
                                @include absolute-center(y);
                            }
                            a {
                                @include fontset(left, $font-ccgoose, 14px, 300, initial, #8a989e);
                                &:hover {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include media($md, 'max') {
        #aside-nav {
            .icon-list {
                li {
                    margin-bottom: 42px;
                }
            }
            .nav-list {
                li {
                    .wrap-item {
                        padding: 25px 15px 15px 80px;
                    }
                }
            }
        }
    }
    &.active {
        #main-box {
            width: calc(100% - 281px);
            padding-left: 15px;
            padding-top: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
            @include media($xs, 'max') {
                width: 100%;
            }
        }
    }
    #main-box {
        width: 100%;
        padding-left: 7%;
        padding-right: 15px;
        transition: 0.3s;
        @include media(768px, 'max') {           
            padding-top: 25px;
            padding-left: 90px;            
        }        
    }

    //mobile 
    @include media($xs, 'max') {
        #aside-nav {
            .icon-list {
                left: -10px;
                top: 20px;
                bottom: 0;
                position: fixed;
                li {
                    &:not(:first-child) {
                        display: none;
                    }                                       
                }
            }
            &.active {
                position: absolute;
                top: 0; bottom: 0;
                #main-box {                    
                    padding-left: 0px;
                }
            }
        }
        .nav-list {
            li .wrap-item {
                padding: 25px 15px 15px 70px!important;
            }
        }
        #main-box {
            padding-left: 0px;
            padding-right: 0;
        }
    }       
}

.btn-painel {
    border-radius: 30px;
    @include fontset(left, $font-poppins, 14px, 600, uppercase, $white);
    box-shadow: 1px 2px 8px 2px rgba(0,0,0,.1);
    transition: 0.3s; 
    text-align: center;
    display: inline-flex;
    align-items: center;
}

.btn-consult {
    @extend .btn-painel;
    background: $orange;
    padding: 0.7em 1em;
    .fa {
        margin-right: 10px;
    }
    &:hover {
        color: $white;
        background: darken($orange, 10%);
    }
}

.connections-infos {
    h4 {
        @include fontset(center, $font-ccgoose, 16px, 400, uppercase, $black); 
        & + .paragraph {
            @include fontset(center, $font-montserrat, 12px, 300, initial, $black); 
        }
    }
    .lds-dual-ring{
        background: $black-panel-1;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .single-box {
        .wrap {
            height: 100%;
            position: relative;
            padding: 5%;
            .spinner {
                flex-shrink:0;
                margin-right: 15px;
            }
            .content {
                .alerting {
                    @include fontset(left, $font-ccgoose, 16px, 300, initial, $black);
                    span {
                        font-weight: 400;
                        color: $green;
                    }
                }
            }
            .btns {
                .btn {
                    @extend .btn-painel;
                    &.btn-accept {
                        background: $green;
                        margin-right: 10px;
                        &:hover {
                            background: darken($green, 5%);
                        }
                    }
                    &.btn-deny {
                        background: $red;
                        &:hover {
                            background: darken($red, 5%);
                        }
                    }
                } 
            }
            .center-sprite {
                text-align: center;
                .sprite-timeglass {
                    @extend .rotate-180;
                }
            }
        }
        [class^='col-']:first-child {
            padding-right: 0;
            .wrap {
                background: $white;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
        [class^='col-']:last-child {
            padding-left: 0;
            .wrap {
                background: $white;
                border-top-right-radius: 5px;
                border-top-right-radius: 5px;               
            }
        }
        @include media($md, 'max') {
            [class^='col-']:last-child {
                padding-left: 15px;
            }
            [class^='col-']:first-child {
                padding-right: 15px;
            }
        }
        @include media($sm, 'max') {
            .wrap {
                .spinner {
                    margin-right: auto;
                    margin-left: auto;
                    margin-bottom: 10px;
                }
                .content {
                    .btns {
                        flex-wrap: wrap;
                        .btn {
                            width: 100%;
                            margin-right: 0;
                            justify-content: center;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .row.r-m {
        margin-bottom: 30px;
    }
}

.wrap-rounded-column {
    background: $white;
    border-radius: 5px;
    height: 100%;
    padding: 5%;    
    .status-radio-box {
        margin-top: 5%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        .btn-box {
            position: relative;
            margin-bottom: 10px;
            &.online > [type=radio]:checked + .text {
                background: $green;
            }
            &.ocupado > [type=radio]:checked + .text {
                background: $red;
            }
            [type=radio] {
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
            .text {
                @extend .btn-painel;
                background: darken($gray,10%);
                padding: 0.7em;
                width: 100%;
                display: block;
                text-align: center;
            }
        }
    }
    .total-credit {
        display: block;
        @include fontset(center, $font-montserrat, 2em, 700, uppercase, $green);
        & + .text-center {
            margin-top: 10px;
        }
    } 
}

#search-hangs {
    .container-fluid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        label {
            @include fontset(left, $font-ccgoose, 20px, 400, uppercase, $black);
        }
        form {
            flex-grow: 1;
            margin: 0 25px;
            .search-wrap {
                position: relative;
                input[type=text] {
                    width: 100%;
                    height: 45px;     
                    border-radius: 5px;
                    border: 2px solid #eeeeee;       
                    outline: none;
                    font-size: 16px;
                    font-weight: 300;
                    padding: 0 60px 0 10px;
                    font-family: $font-ccgoose;
                    &:focus {
                        border-color: $orange;
                        transition: 0.3s;
                        & + button {
                            border-color: $orange;
                            background: $orange;
                            transition: 0.3s;
                            .fa {
                                color: $white;
                                transition: 0.3s;
                            }
                        }
                    }
                }
                button {
                    width: 50px;
                    height: 45px;
                    position: absolute;
                    top:0; 
                    right:0;
                    background: $white;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    border: 2px solid #eee;
                    cursor: pointer;
                    border-left: 1px solid #eee;
                    .fa {
                        color: $orange;                       
                    }
                }
            }
        }
    }
    @include media($md, 'max') {
        .container-fluid {
            form {
                margin: 0 0 0 10px;
            }
            .btn-consult {
                margin-top: 5px;
                text-align: center;
                justify-content: center;
                width: 100%;
            }
        }
    }
    @include media($sm, 'max') {
        .container-fluid {
            justify-content: center;
            form {
                margin: 0;
            }
        }
    }
}
//table listing 
#table-block {
    margin-top: 5%;
    .table {
        table-layout: fixed;
        thead {
            th {
                background: $white;       
                @include fontset(left, $font-montserrat, 14px, 600, initial, $black);       
                vertical-align: middle;  
                &:first-child {
                    border-top-left-radius: 5px;
                }
                &:last-child {
                    border-top-right-radius: 5px;
                }
            }
        }
        tbody {
            tr {
                td {
                    @include fontset(left, $font-montserrat, 14px, 400, initial, $black);    
                    background: $white;
                    vertical-align: middle;
                    // word-break: break-word;
                    .btn-details {
                        @extend .btn-painel;
                        background: $green;
                        text-transform: initial!important;
                        padding: 0.5em 1em;
                        div {
                            flex-shrink: 0;
                        }
                        .fa {
                            margin-right: 7px;
                        }
                        &:hover {
                            background: darken($green, 10%);                            
                        }
                    }
                    .tarja {
                        @extend .btn-painel;
                        padding: 0.5em 1em;
                        &.red {
                            background: $red;
                        }
                        &.green {
                            background: $green;
                        }
                    }
                }
                &:last-child {
                    td:first-child {
                        border-bottom-left-radius: 5px;
                    }
                    td:last-child {
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
        @include media($sm, 'max') {
            table-layout: initial;         
            tbody tr td {
                .btn-details {
                    div {
                        flex-shrink: 1;
                    }
                    .fa {
                        display: none!important;
                    }
                }
            }            
        }
    }
}

//login and recovery pwd
.login-recovery {
    @include media($sm, 'min') {
        margin-bottom: 2%;
    }
    h2 {
        @include fontset(left, $font-ccgoose, 2em, 400, initial, $black);     
        & + p {
            @include fontset(left, $font-montserrat, 16px, 300, initial, $black);    
        }   
    }
    .fgpwd {
        @include fontset(left, $font-montserrat, 12px, 400, initial, $black);   
    }

    .wrap-login {
        position: relative;
        padding-left: 100px;
        &:before {
            content: '';
            display: block;
            background: url('../images/sprites.png');
            background-repeat: no-repeat;
            width: 75px;
            height: 70px;
            background-position: -418px -292px;
            position: absolute;
            top: 0; left: 0;
        }
        @include media($sm, 'max') {
            padding-left: 0;
            &::before {
                position: static;
                margin: 0 auto 15px auto;
            }
        }
    }
}

//minha-conta
#minha-conta {
    h2 {
        @include fontset(left, $font-ccgoose, 1.5em, 400, initial, $black);   
        margin-top: 3%;
        margin-bottom: 5%;
    }
    .form-box {
        position: relative;
        padding-left: 100px;
        display: inline-block;
        width: 100%;
        &.pwd:before {
            content: '';
            display: block;
            background: url('../images/sprites.png');
            background-repeat: no-repeat;
            width: 75px;
            height: 70px;
            background-position: -418px -377px;
            position: absolute;
            top: 0; left: 0;
        }
        &.cad:before {
            content: '';
            display: block;
            background: url('../images/sprites.png');
            background-repeat: no-repeat;
            width: 75px;
            height: 70px;
            background-position: -322px -377px;
            position: absolute;
            top: 0; left: 0;
        }
        form {
            .forca-senha {
                margin-top: 5px;
                display: none;
                @include fontset(right, $font-montserrat, 12px, 300, initial, $black);  
                span {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
        @include media($sm, 'max') {
            padding-left: 0;
            &:before {
                position: static!important;
                margin: 0 auto 15px auto;
            }
        }
        &.cad {
            form {
                .divisor {
                    border-bottom: 1px solid $gray;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
                .form-group {
                    label {
                        @include fontset(right, $font-montserrat, 15px, 400, initial, $gray3);
                        span {
                            font-size: 11px;
                        }
                    }
                    .form-control {
                        background: #f3f3f3;
                        border-color: #d7d7d7;
                    }
                }
                .upload-img {
                    figure {
                        min-height: 100px;                        
                    }
                    h4 { 
                        @include fontset(center, $font-montserrat, 15px, 400, initial, $black);
                    }
                    .wrap-file {
                        position: relative;                        
                        #img-input {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0; left: 0;
                            opacity: 0;                            
                            
                        }
                        .btn-file {                   
                            background: #f3f3f3;
                            border: 1px solid #d7d7d7;
                            border-radius: 5px;
                            padding: 0.5em;
                            white-space: nowrap;
                            overflow: hidden !important;
                            text-overflow: ellipsis;
                            @include fontset(center, $font-montserrat, 12px, 600, initial, $black);

                        }
                    }
                }
            }
        }
    }
}

#credito-transferencias {
    .full-credit {
        background: $white;
        border-radius: 5px;
        padding: 3%;
        h4 {
            @include fontset(center, $font-ccgoose, 20px, 400, uppercase, $black);
        }
        h2 {
            @include fontset(center, $font-montserrat, 3em, 700, uppercase, $green);
        }
    }

    .search-date-box {
        margin: 3%;
        text-align: center;
        .wrap-search {
            display: inline-block;
            background: $white;
            border-radius: 5px;
            padding: 0.6em 1em;
           
            form {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                label {
                    @include fontset(left, $font-montserrat, 14px, 600, initial, $black);
                    margin-bottom: 0;
                    margin-right: 1em;
                }
                .wrap-input {
                    position: relative;
                    &.search {
                        flex-grow: 1;
                        padding-right: 10px;
                        @include media($sm, 'max') {
                            padding-right: 0;
                        }
                        input {
                            width: 100%;
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                    .icon {
                        @include absolute-center(y);
                        left: 0px;
                        height: 35px;
                        width: 45px;
                        border-right: 1px solid $gray;
                        @include flex-align();
                        .fa {
                            color: $orange; 
                            font-size: 20px;
                        }
                    }
                    input {
                        border-radius: 5px;
                        border: 2px solid $gray2;
                        height: 45px;
                        outline: none;
                        padding-left: 50px;
                        padding-right: 10px;
                        margin-right: 10px;   
                        width: 180px;                     
                        &:focus {
                            border-color: $orange;
                            transition: 0.3s;
                            & + .icon {
                                border-color: $orange;
                                transition: 0.3s;
                            }
                        }
                    }
                }
                button {
                    @extend .btn-consult;
                    border: none;
                    background: $green;
                    cursor: pointer;
                    outline: none;
                    padding: 0.7em 2em;
                    box-shadow: $green-shadow;
                    &:hover {
                        background: darken($green, 10%)
                    }
                }
                .filtroRemover {
                    @extend .btn-consult;
                    border: none;
                    margin-left: 10px;
                    background: $red;
                    cursor: pointer;
                    outline: none;
                    padding: 0.7em 2em;
                    box-shadow: $black-shadow;
                    &:hover {
                        background: darken($red, 10%)
                    }
                }
            }
        }
        @include media($sm, 'max') {
            margin: 3% 0;       
            .wrap-search {
                width: 100%;
                form {
                    .wrap-input {
                        width: 100%;
                        input {
                            width: 100%;
                            margin-bottom: 5px;
                        }
                    }
                    button, .filtroRemover {                        
                        width: 100%;
                        justify-content: center;
                    }
                    .filtroRemover {
                        margin-left: 0;
                        margin-top: 5px;
                    }
                }
            }            
        }
    }
}