/*RESPONSIVE BREADCRUMB*/
    @mixin breadcrumb-mobile--md {
        .breadcrumb {
            background: #fff;
            padding: 5px 10px;
            border-top: 3px solid $first-color;
            border-radius: 3px;
            font-size: 16px;
            box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, .2);
            
            &-link > .fa + .breadcrumb-text .breadcrumb-name {
                display: none;
            }
        }
    }
/* /RESPONSIVE BREADCRUMB*/