/*LOGIN*/
    .login {
        background: #f5f5f5;
        min-height: 100%;
        
        .login__figure {
            .login-img {
                height: 25px;
            }
        }
        &__section {
            flex: 1;
        }
        &__box {
            width: 90%;
            max-width: 350px;
        }
        
        &__form {
            border-radius: 10px;
            background: #fff;
        }
        .footer {
            background: #212121;
        }
    }
/* /LOGIN*/