/*HEADER*/
    .header {
        background: $second-color;
        //background: #e83e8c;
    }
    .header__menu {
        .menu__item {
            min-width: 50px;
            transition: .2s;
            position: relative;
            padding: 0 10px;
            cursor: pointer;
            height: 50px;
            color: #fff;
           
            &:hover,
            &.active,
            &[data-active="true"] {
                background: darken($second-color, 5%);
            }
        }
        
        .item__inside {
            font-size: 12px;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: inherit;
            height: 100%;
        }
        .open-sub:not([data-active="true"]) [class*="sub-menu--"] {
            display: none;
        }
        [class*="sub-menu--"] { 
            position: absolute;
            top: 50px;
            right: 0;
            transition: .2s;
            z-index: 1;
            
            .sub-menu__inside {
                position: relative;
            }
            &.sub-menu--default {
                background: $first-color;
                border: 1px solid #ececec;
                min-width: 120px;
                padding: 5px 0;
                box-shadow: 0.1em -0.1em 1.1em rgba(0,0,0,0.1);
                
                .sub-menu__inside {
                    display: block;
                    text-align: right;
                    text-decoration: none;
                    font-size: 12px;
                    padding: 5px 10px 5px 20px;
                    border-radius: 0 0 2px 2px;
                    color: #fff;
                    white-space: nowrap;
                }
                .sub-menu__inside:hover {
                    background: $second-color;
                }
                .sub-item__inside {
                    margin-left: 10px;
                }
            }
            &.sub-menu--gadgets {
                width: 100%;
                min-width: 150px;
                border-top: 1px solid darken($first-color, 5%);
                background: transparent;
                
                .gadgets__box {
                    box-shadow: .1em .1em 0.1em rgba(0,0,0,.2);
                }
                .sub-menu__item {
                    min-height: 50px;
                    border-left: 1px solid darken($first-color, 5%);
                    border-bottom: 1px solid darken($first-color, 5%);
                }
                .sub-menu__inside {
                    text-decoration: none;
                    font-size: 12px;
                    color: #fff;
                    height: 100%;
                    background: $first-color;
                    
                    .fa {
                        font-size: 16px;
                    }
                }
                .sub-menu__inside:hover {
                    background: darken($first-color, 5%);
                }
            }
        }
        .admin-cp {
            height: 50px;
            background: darken($second-color, 10%);
            color: #fff;
            font-size: 18px;
            white-space: nowrap;
        }
    }
    .menu-company {
        .company-logo {
            max-height: 40px;
        }
        .menu-site {
            margin-left: auto;
        }
    }
    .menu-user {
        .menu__item {
            &:hover .user-image,
            &[data-active="true"] .user-image {
                filter: grayscale(100%);
            }
        }
        .user-item {
            .user-image {
                width: 30px;
                border-radius: 15px;
                transition: .2s;
            }
            .user-legend {
                padding-left: 10px;
                font-size: 12px;
                text-align: center;
            }
        }
    }
    .children-dashboard {
        transition: .2s;
    }
/* /HEADER*/

.content__box--first{border-color: $second-color!important;} 
.user-icon {
    display: inline;
}